<li class="media">
    <div class="row">
        <div class="span8">
            <h4>
                <a href="<%= category_path(category) %>" rel="tooltip" data-placement="right" data-original-title="<%= pluralize category.topics.count, t('topic.topic') %>"><%= category.name %></a>
            </h4>
        </div>
        <div class="span4 recent-cat-list">
            <ul>
                <% category.topics.order("updated_at DESC").limit(3).each do |topic| %>
                    <li><a href="<%= category_topic_path(category, topic) %>"><%= topic.subject %></a> (<%= time_ago_in_words topic.updated_at %>)</li>
                <% end %>
            </ul>
        </div>
    </div>
</li>