<tr class="<%= get_topic_class (topic) %>">
    <td>
        <% if topic.deleted %>
            <a href="#" rel="tooltip" data-placement="top" data-original-title="<%= t('topic.deleted') %>"><i class="icon-minus-sign"></i></a>
        <% elsif topic.closed %>
            <a href="#" rel="tooltip" data-placement="top" data-original-title="<%= t('topic.closed') %>"><i class="icon-lock"></i></a>
        <% end %>
        <% if topic.deleted && !can?(:delete, topic) %>
            <%= get_topic_line(topic) %>
        <% else %>
            <%= link_to get_topic_line(topic), [@category, topic] %>
        <% end %>
    </td>
    <td style="text-align: center;">
        <%= topic.posts_count %>
    </td>
    <td style="text-align: center;">
        <% if topic.updated_at < 1.day.ago %>
            <%= topic.updated_at.strftime("%m/%d/%Y") %>
        <% else %>
            <%= time_ago_in_words(topic.updated_at) + ' ' + t('ago') %>
        <% end %>

    </td>
</tr>