<div class="well">
    <h3><%= t('index.welcome') %></h3>
    <%= t('index.welcome_notice') %>
</div>
<%= cache @categories, :expires_in => 5.minutes do %>
    <div class="category-list">
        <ul class="media-list">
            <% @categories.each() do |category| %>
                <%= render :partial => 'category_row', :locals => {:category => category} %>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="row">
    <div class="span12">
        <% if can? :create, Category %>
            <%= link_to t('category.create'), '/category/new', :class => 'btn btn-primary' %>
        <% end %>
    </div>
</div>