<div class="row">
    <div class="span9">
        <h4><%= @category.name %></h4>
    </div>
    <div class="span3">
        <% if can? :create, Topic %>
            <%= link_to t('topic.create'), new_category_topic_path(@category), :class => 'btn btn-primary pull-right' %>
        <% end %>
    </div>
</div>

<table class="table table-striped table-hover topic_list">
    <thead>
        <tr>
            <th style="width: 70%;">
                Subject
            </th>
            <th style="text-align: center;">
                Posts
            </th>
            <th style="text-align: center;">
                Last post
            </th>
        </tr>
    </thead>
    <tbody>
        <% @topics.each() do |topic| %>
            <%= render :partial => 'topic_row', :locals => {:topic => topic} %>
        <% end %>
    </tbody>

</table>

<%= paginate @topics %>