<h2><%= t('users.list') %></h2>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Username</td>
        <td>Email</td>
        <td>Joined</td>
        <td>Posts</td>
    </tr>
    </thead>
    <tbody>
    <% @users.each() do |user| %>
       <tr>
           <td><%= link_to user.username, user %></td>
           <td><%= user.email %></td>
           <td><%= user.created_at.strftime "%m/%d/%Y" %><td>
           <td><%= user.posts_count %></td>
       </tr>
    <% end %>
    </tbody>
</table>

<%= paginate @users %>