<%= form_for [@post.topic.category, @post.topic, @post],
             :method => 'delete', :url => {:action => 'delete'}, :html => {:class => 'delete_form'} do |form| %>
    <div class="modal-body">
        <div class="form">
            <h4><%= t('post.delete_message') %></h4>

            <p>
                <%= form.text_field :deleted_message, {'placeholder' => t(:delete_placeholder)} %>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Cancel</a>
        <% if @post.deleted %>
            <button type="submit" value="submit" class="btn delete-submit">Update message</button>
            <a href="<%= restore_category_topic_post_path %>" class="btn btn-success delete-submit">Restore</a>
        <% else %>
            <button type="submit" value="submit" class="btn btn-danger">Delete</button>
        <% end %>
    </div>
<% end %>