<%= form_for [@post.topic.category, @post.topic, @post], :url => {:action => 'save_edit'} do |form| %>
    <%= form.text_area :body, {'class' => 'span12', 'rows' => 8} %>
    <div class="form-actions">
        <div class="pull-right">
            <%= form.submit t('save'), {'class' => 'btn-primary'} %>
            <a href="javascript:void(0)" class="cancel-edit btn"><%= t('cancel') %></a>
        </div>

    </div>
<% end %>