/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */

body {
    padding-top: 60px;
}

.category-list .media {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #efefef;
    margin-top: 10px;
    padding-bottom: 10px;
}

.recent-cat-list ul {
    list-style: none;
    font-size: small;
    text-align: right;

}

.recent-cat-list li {
    margin: 0;
    padding: 0;
    line-height: 16px;
}

.btn-group > .tooltip + .btn,
.btn-group > .popover + .btn {
    margin-left: -1px;
}

.modal form {
     margin-bottom: 0;
}
