@import "bootstrap_and_overrides.css.less";

.no_entry {
    color: #999999;
    i {
        &:hover {
            color: #999999;
            text-decoration: none;
        }
    }
    a {
        color: #999999;
    }
}

.topic_list {
    tr {
        &.closed, &.deleted {
            .no_entry;
        }

    }
}