@import "bootstrap_and_overrides.css.less";

.subject {
    .edit-subject {
        color: @black;

        h2 {
            float: left;
        }

        .icon-pencil {
            display: none;
            float: left;
            text-decoration: none;
            margin-left: 10px;
            margin-top: 26px;
        }
        &:hover {
            color: @black;
            .icon-pencil {
                display: block;
            }
        }
    }

    .edit-subject-block {
        margin-bottom: 20px;
        input {
            padding: 0;
            margin: 0;
            border-style: none;
            color: @black;
            padding-bottom: 5px;
            font-weight: bold;
            font-size: 31.5px;
            line-height: 40px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            height: auto;
            border-bottom-style: dashed;
            border-bottom-width: 1px;
            border-bottom-color: #ffffff;
            &:hover {
                border-bottom-color: #eeeeee;
            }
        }
    }
}

.post-deleted {
    border-color: #eeeeee;
    border-style: dotted none dotted none;
    border-width: 1px;
    margin: 20px 0 20px 0;
    padding: 5px;
    .header {
        text-align: center;
        color: #ccc;
        span {
            color: #999999;
        }

        a {
            color: #ccc;
        }
    }
    .post-block {
        display: none;
        margin-top: 20px;
    }
}

.post-block {

    margin-bottom: 20px;
    position: relative;

    &.delete-view {
        display: none;
    }

    .post-profile-block {
        padding: 20px;
        font-size: 18px;
        font-weight: 200;
        line-height: 30px;
        color: inherit;
        background-color: #eeeeee;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        float: left;
        text-align: center;
        @media (max-width: 767px) {
            padding: 0px;
            float: left;
            line-height: 10px;
            img {
                width: 30px;
                float: left;
            }

            a {
                float: left;
                font-size: 20px;
                margin-left: 10px;
            }
        }
    }
    .post-body-block {
        padding: 20px 40px 0px 20px;
        @media (max-width: 767px) {
            float: left;
            padding: 20px;
        }
    }

    .op_block {
        float: right;
        background-color: lighten(#eeeeee, 4%);
        color: darken(#eeeeee, 14%);
        top: 0;
        right: 0;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-left-radius: 4px;
        font-size: 10px;
        z-index: 100;
        position: absolute;
        a {
            padding: 5px;
            display: block;
            color: darken(#eeeeee, 14%);
            text-decoration: none;
            &:hover {
                color: darken(#eeeeee, 30%);
            }
        }
    }

    .form-actions {
        margin-bottom: 60px;
        margin-top: 0;
    }

    .edit-post-wrap {
        display: none;
    }

    .post-options-block {
        position: absolute;
        right: 0;
        bottom: 0;
        .btn-group .btn {
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-bottom-style: none;
            border-right-style: none;
            &:first-child {
                -webkit-border-top-left-radius: 4px;
                -moz-border-radius-topleft: 4px;
                border-top-left-radius: 4px;
            }
        }
    }

    .post-body-wrap {
        padding-bottom: 25px;
    }
}

blockquote {
    cite {
        display: block;
        line-height: 20px;
        color: #999999;
        font-size: 85%;

        &:before {
            content: '\2014 \00A0'
        }
    }
}

#new-post-block {
    form {
        input[type=submit] {
            float: left;
            margin-top: 30px;
        }
    }
}
