<%= form_for [@category, @topic] do |form| %>
    <% if @topic.errors.any? %>
        <div class="alert error">
            <ul>
                <% @topic.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= form.label :subject %>
    <%= form.text_field :subject %>

    <%= fields_for @post do |postform| %>
        <%= postform.label :body %>
        <%= postform.text_area :body %>
    <% end %>
    <br/>
    <%= form.submit %>
<% end %>