<div class="post-deleted">
    <div class="header">
        <% if can? :delete, post %>
            <a href="javascript:void(0)" class="show-deleted-post">
        <% end %>
        <%= t('post.deleted') %> -
    <span class="reason">
        <%= post.deleted_message %>
    </span>
        <% if can? :delete, post %>
            </a>
        <% end %>
    </div>


    <% if can? :delete, post %>
        <%= render :partial => 'post', :locals => {:post => post} %>
    <% end %>

</div>