<div id="post-<%= post.id %>" class="post-block container-fluid thumbnail">
    <% if post.user.id == @topic.user_id %>
        <div class="op_block">
            <a href="#" rel="tooltip" data-placement="right" data-original-title="<%= t('op_full') %>"><%= t('op') %></a>
        </div>
    <% end %>
    <div class="row-fluid">
        <div class="post-profile-block span2">
            <%= render :partial => 'post_profile', :locals => {:user => post.user} %>
        </div>
        <div class="post-body-block span10">
            <div class="post-body-wrap">
                <%= raw(post.parsed_body) %>
            </div>
            <div class="edit-post-wrap"></div>
            <div class="post-options-block">
                <div class="btn-group">
                    <span class="btn btn-small">
                        <% if post.created_at < 1.day.ago %>
                            <%= post.created_at.strftime("%m/%d/%Y") %>
                        <% else %>
                            <%= time_ago_in_words(post.created_at) + ' ' + t('ago') %>
                        <% end %>
                    </span>
                    <% if can? :create, @post %>
                        <a href="#new-post-block" class="btn btn-small reply_button" rel="tooltip" data-id="<%= post.id %>" data-user="<%= post.user.username %>" data-placement="top" data-original-title="<%= t('quote') %>">
                            <i class="icon-comment"></i>
                        </a>
                    <% end %>
                    <% if current_user.present? %>
                        <a href="javascript:void(0)" class="btn btn-small report_button" rel="tooltip" data-path="<%= get_raw_category_topic_post_path(@category, @topic, post) %>" data-placement="top" data-original-title="<%= t('report') %>">
                            <i class="icon-flag"></i>
                        </a>
                    <% end %>
                    <% if can? :update, post %>
                        <a href="javascript:void(0)" class="btn btn-small edit_button" rel="tooltip" data-path="<%= get_raw_category_topic_post_path(@category, @topic, post) %>" data-placement="top" data-original-title="<%= t('edit') %>">
                            <i class="icon-pencil"></i>
                        </a>
                    <% end %>
                    <% if can? :destroy, post %>
                        <a href="javascript:void(0)" class="btn btn-small delete_trigger" rel="tooltip" data-path="<%= delete_category_topic_post_path(@category, @topic, post) %>" data-placement="top" data-original-title="<%= t('delete') %>">
                            <i class="icon-remove"></i>
                        </a>
                    <% end %>
                </div>
            </div>

        </div>

    </div>
    <div class="clearfix"></div>
</div>