<div class="subject">

    <% if can? :update, @topic %>
        <div class="edit-subject-block">
            <a href="javascript:void(0)"
               class="subject-link-wrap"
               rel="popover"
               data-placement="left"
               data-html="true"
               data-url="<%= save_subject_category_topic_path(@category, @topic) %>"
               data-trigger="manual"
               data-container=".subject-link-wrap"
               data-content="<a href=&quot;#&quot; class=&quot;btn btn-success&quot; id=&quot;save-subject&quot;>Save</a>">
                <input class="span5" type="text" value="<%= @topic.subject %>" maxlength="25"/>
            </a>
        </div>
    <% else %>
        <h2>
            <%= @topic.subject %>
        </h2>
    <% end %>
</div>

<%= paginate @posts %>
<% @posts.each() do |post| %>
    <% if !post.deleted %>
        <%= render :partial => 'post', :locals => {:post => post} %>
    <% else %>
        <%= render :partial => 'post_deleted', :locals => {:post => post} %>
    <% end %>
<% end %>
<%= paginate @posts %>
<div id="new-post-block" class="tabs-below">
    <% if can? :create, @post %>
        <h3><%= t('topic.new_post') %></h3>

        <%= form_for [@category, @topic, @post] do |form| %>
            <%= form.text_area :body, {'class' => 'span12', 'rows' => 8} %>
            <br/>
            <%= form.submit %>
        <% end %>
        <div class="nav nav-tabs">
            <li class="pull-right">
                <a href="<%= close_category_topic_path(@category, @topic) %>">
                    <% if @topic.closed %>
                        <%= t('topic.open') %>
                    <% else %>
                        <%= t('topic.close') %>
                    <% end %>
                </a>
            </li>
            <li class="pull-right">
                <% if @topic.deleted %>
                    <a href="<%= restore_category_topic_path(@category, @topic) %>">
                        <%= t('topic.restore') %>
                    </a>
                <% else %>
                    <a id="thread-delete" data-url="<%= delete_category_topic_path(@category, @topic) %>" href="javascript:void(0)">
                        <%= t('topic.delete') %>
                    </a>
                <% end %>

            </li>
        </div>
    <% end %>
</div>

<div id="delete-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><%= t('post.delete_confirm') %></h3>
    </div>
    <div class="modal-payload">

    </div>
</div>

